
body {
  padding-left: 5%;
  padding-right: 5%;
  font-size:20px;
  color: black;
}

p {
font-size:13px;
font-weight: 300;
}

.draggable {
  background-color: #e0c4eced;
  font-size:small;
  font-family: sans-serif;
  font-weight: normal;
  text-align: center;
  font-style: italic;
  margin:5px;
  padding: 10px;
  display: inline-block;
}

.dropzone {
  background-color: #e8e8e8;
  flex-basis: 100%;
  flex-grow: 1;
  margin: 10px;
  padding: 10px;
  border: black;
  border-radius: 2px;
  border-style:solid;
  max-width: 100%;
}